node_modules/
core/wsgi.py
.venv
VENV_NAME/
*/migrations/*
*/__pycache__/*
test
*/*/*.pyc
*.pyc
db.sqlite3
*.sqlite3
uploads/demo.jpg
uploads/uploads/recording.wav
uploads/tts/*
uploads/*/*
uploads/recipe.jpg
uploads/*
.venv/*
.python-version
./projects/.python-version
