{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<main class="{{ app_name }} lyric_trans" >
    <section class="contents">
        <p class="message">受信メールの返信を生成・校正してくれるアプリ 会社名と名前はChatGPTに送信されません。</p>
        <div class="contents_area">
            <article class="sentence">
                <h3>REQUEST</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">校正</button>
                </form>
            </article>
            <article class="result">
                <h3>RESPONSE</h3>
                <p class="result_box_text copy-target">
                    {{ chat_results|safe }}
                </p>
                <div class="button_area">
                    <button id="copyButton">COPY</button>
                </div>
            </article>
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static 'js/click_copy.js' %}" rel="stylesheet"></script>

{% endblock %}
