.sentence {
    text-align: center;
}
.result_box_text {
    background-color: #fff;
    border: 1px solid #333;
    width: 300px;
    height: 200px;
}

.layout .contents_area {
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}

#id_sentence {
    width: 320px;
    height: 220px;
    padding: 10px;
}
.result_box_text{
    padding: 10px;
}

.image_size {
    width: 480px;
    margin: 0 auto;
}

.result_box_message {
    width: calc(100% - 60px);
    height: 640px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    overflow-y: scroll;
    text-align: left;
}

.analys .contents_box {
    position: relative;
    display: block;
    width: calc(100% / 2);
    text-align: center;
}