.sentence {
    text-align: center;
}
.result_box_text {
    background-color: #fff;
    border: 1px solid #333;
    width: 300px;
    height: 200px;
}

.layout .contents_area {
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
}

#id_sentence {
    width: 320px;
    height: 220px;
    padding: 10px;
}
.result_box_text{
    padding: 10px;
}