<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% load static %}
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="{{ domain }}" class="link"><h1 class="title">Synapse AI</h1></a>
        <h2 class="title">SNS like</h2>
    </header>
    <div class="chatbot-window">
        <div class="chatbot-header">
            <p>SNS</p>
        </div>
        <div class="chatbot-messages" id="messages"></div>
        <div class="chatbot-area">
            <div class="chatbot-input">
                <input type="text" id="userInput" placeholder="テキスト">
                <button id="sendMessage">送信</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#sendMessage').click(function() {
                let message = $('#userInput').val();
                $('#messages').append('<div>あなた: ' + message + '</div>');
                $.post( "{% url 'ask' %}" , { message: message, csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) {
                    $('#messages').append('<div>Bot: ' + data.message + '</div>');
                });
                $('#userInput').val(''); // clear input
            });
        });
    </script>
</body>
</html>