<html>
    <head>
        <meta charset='utf-8' />
        {% load static %}
        <link href="{% static 'css/top.css' %}" rel="stylesheet">
    </head>
    <body>
        <main class="main">
            <header class="header">
                <h1 class="title">Synapse AI</h1>
            </header>
            <figure class="key_visual">
                <img src="{% static 'img/ai.jpg' %}" class="image_size" alt="" />
            </figure>
            <section class="contents">
                <div class="row">
                    <h2 class="title">テキスト生成(ChatGPT3.5)</h2>
                    <ul class="contents_area">
                        <li class="contents_box">
                            <a href="/chat_app/" class="link link_range">
                                <img src="{% static 'img/icon_text_ai.png' %}" class="image_size" alt="" />
                                <p>文章生成</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/sns_texts/" class="link link_range">
                                <img src="{% static 'img/icon_sns_ai.png' %}" class="image_size" alt="" />
                                <p>SNS文章校正_X用</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/chat_bot/chat/" class="link link_range">
                                <img src="{% static 'img/icon_chat_ai.png' %}" class="image_size" alt="" />
                                <p>チャットボット</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <h2 class="title">画像生成(ChatGPT4_要認証)</h2>
                    <ul class="contents_area">
                        <li class="contents_box">
                            <a href="/generate_image/" class="link link_range">
                                <img src="{% static 'img/icon_image_ai.png' %}" class="image_size" alt="" />
                                <p>画像生成</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/vision/" class="link link_range">
                                <img src="{% static 'img/icon_analys_ai.png' %}" class="image_size" alt="" />
                                <p>画像解析</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <footer class="footer">
                <p class="text">nuevo.jp</p>
            </footer>
        </main>
    </body>
</html>
