<html>
  <head> </head>
  <body>
    <h1>生成AI（デザインは考案中）</h1>
    <section>
      <ul>
        <li>
          <p>
            <a href="/chat_app/">文章生成</a>
          </p>
          <p>
            文章生成AIを使用したシンプルなアプリ
          </p>
        </li>
        <li>
          <p>
            <a href="/generate_image/">画像生成</a>
          </p>
          <p>
            画像生成AI。指定したものを描画してくれる
          </p>
        </li>

        <li>
          <p>
            <a href="/sns_texts/">SNS文章校正_X用</a>
          </p>
          <p>
            SNS炎上防止用に文章を校正してPOSTしてくれる（X用）
          </p>
        </li>
        <li>
          <p>
            <a href="/chat_bot/chat/">チャットボット</a>
          </p>
          <p>
            会話型文章生成AI。名前、電話番号などを聴取するようにプロンプトに加えれば、情報入手フォームになれる
          </p>
        </li>
        <li>
          <p>
            <a href="/vision/">画像解析</a></li>
          </p>
          <p>
            アップした画像が何の画像なのかを解析してくれる。
            冷蔵庫の中身を写真に撮って、何の料理ができるのか、レシートを撮影して家計簿アプリとか。いろいろできそう。
          </p>
      </ul>
    </section>
  </body>
</html>
