<html>
    <head>
        <meta charset='utf-8' />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link href="{% static 'css/top.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    </head>
    <body class="layout">
        <main class="main">
            <header class="header">
                <div class="header_area">
                    <div class="logo_title">
                        <img src="{% static 'img/logo2.png' %}" class="logo_size" alt="" />
                    </div>
                    <h1 class="site_title">
                        <a href="{{ domain }}" class="link">Generative AI</a>
                    </h1>
                </div>
            </header>
            <figure class="key_visual">
                <img src="{% static 'img/main_image_a.jpg' %}" class="visual_size" alt="" />
            </figure>
            <section class="contents">
                <div class="row">
                    <h2 class="title">LLM</h2>
                    <ul class="contents_area">
                        <li class="contents_box">
                            <a href="/chat_app/" class="link link_range">
                                <img src="{% static 'img/icon_text_ai.png' %}" class="image_size" alt="" />
                            </a>
                            <p>文章生成</p>
                        </li>
                        <li class="contents_box">
                            <a href="/sns_texts/" class="link link_range">
                                <img src="{% static 'img/icon_sns_ai.png' %}" class="image_size" alt="" />
                                <p>SNS文章校正</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/chat_bot/chat/" class="link link_range">
                                <img src="{% static 'img/icon_chat_ai.png' %}" class="image_size" alt="" />
                                <p>チャットボット</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/lyric_trans/" class="link link_range">
                                <img src="{% static 'img/icon_trans_ai.png' %}" class="image_size" alt="" />
                                <p>英語歌詞翻訳</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/chat_interaction/discussion/" class="link link_range">
                                <img src="{% static 'img/icon_interaction_ai.png' %}" class="image_size" alt="" />
                                <p>AIチャット</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/send_mail/" class="link link_range">
                                <img src="{% static 'img/icon_send_mail_ai.png' %}" class="image_size" alt="" />
                                <p>送信メール生成・校正AI</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/response_mail/" class="link link_range">
                                <img src="{% static 'img/icon_response_mail_ai.png' %}" class="image_size" alt="" />
                                <p>返信メール生成・校正AI</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/magi_system/results/" class="link link_range">
                                <img src="{% static 'img/icon_magi_ai.png' %}" class="image_size" alt="" />
                                <p>マギシステム<br />（エヴァンゲリオン風）</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/book_review/" class="link link_range">
                                <img src="{% static 'img/icon_book_review_ai.png' %}" class="image_size" alt="" />
                                <p>ブックレビュー</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/movie_review/" class="link link_range">
                                <img src="{% static 'img/icon_movie_review_ai.png' %}" class="image_size" alt="" />
                                <p>ムービーレビュー</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/music_review/" class="link link_range">
                                <img src="{% static 'img/icon_music_review_ai.png' %}" class="image_size" alt="" />
                                <p>ミュージックレビュー</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/diary/" class="link link_range">
                                <img src="{% static 'img/icon_diary_ai.png' %}" class="image_size" alt="" />
                                <p>日記生成</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/aphorism/" class="link link_range">
                                <img src="{% static 'img/icon_aphorisms_ai.png' %}" class="image_size" alt="" />
                                <p>格言検索</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/jra_scraping/" class="link link_range">
                                <img src="{% static 'img/icon_jra_scraping_ai.png' %}" class="image_size" alt="" />
                                <p>出走馬データ収集</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/jra/" class="link link_range">
                                <img src="{% static 'img/icon_jra_ai.png' %}" class="image_size" alt="" />
                                <p>競馬予想</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/win5/" class="link link_range">
                                <img src="{% static 'img/icon_win5_ai.png' %}" class="image_size" alt="" />
                                <p>WIN5予想</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <h2 class="title">画像生成・解析</h2>
                    <ul class="contents_area">
                        <li class="contents_box">
                            <a href="/generate_image/" class="link link_range">
                                <img src="{% static 'img/icon_image_ai.png' %}" class="image_size" alt="" />
                                <p>画像生成<br>ユーザーのみ</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/vision/" class="link link_range">
                                <img src="{% static 'img/icon_analys_ai.png' %}" class="image_size" alt="" />
                                <p>画像解析</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/icon/" class="link link_range">
                                <img src="{% static 'img/icon_icon_ai.png' %}" class="image_size" alt="" />
                                <p>アイコン生成</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/recipe/" class="link link_range">
                                <img src="{% static 'img/icon_recipe_ai.png' %}" class="image_size" alt="" />
                                <p>レシピ提案</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <h2 class="title">音声生成</h2>
                    <ul class="contents_area">
                        <li class="contents_box">
                            <a href="/whispar/" class="link link_range">
                                <img src="{% static 'img/icon_whispar_ai.png' %}" class="image_size" alt="" />
                                <p>文字起こし</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/tts/" class="link link_range">
                                <img src="{% static 'img/icon_tts_ai.png' %}" class="image_size" alt="" />
                                <p>朗読</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/talk/" class="link link_range">
                                <img src="{% static 'img/icon_talk_ai.png' %}" class="image_size" alt="" />
                                <p>会話</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/english/" class="link link_range">
                                <img src="{% static 'img/icon_english_ai.png' %}" class="image_size" alt="" />
                                <p>英会話</p>
                            </a>
                        </li>
                        <li class="contents_box">
                            <a href="/callcenter/" class="link link_range">
                                <img src="{% static 'img/icon_callcenter_ai.png' %}" class="image_size" alt="" />
                                <p>コールセンター</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <footer class="footer">
                <p class="text">nuevo.jp</p>
            </footer>
        </main>
    </body>
</html>
