body {
    background-color: #121212;
    color: #e0e0e0;
}

header, footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

main {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 8px;
}

button {
    background-color: #999999;
    color: #121212;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #999999;
}

.result_box_text {
    background-color: #2c2c2c;
    padding: 1rem;
    border-radius: 4px;
    color: #e0e0e0;
    white-space: pre-wrap;
}
/* header */
.header {
    padding:0;
}
.layout .header {
    width:100%;
    height: auto;
    max-height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
    background-color: #1f1f1f;
    text-align: left;
}
.header_area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: calc(100% - 60px);
    margin: 0 auto;
}
.logo_title .logo_size {
    width: 60px;
}
.layout .header .site_title{
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 20px;
}

.layout .header .link{
    display: inline-block;
    line-height: 60px;
}

.footer {
    position: relative;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #cccccc;
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
}
.footer > .text {
    text-align: center;
}
