body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
/* header */
.header {
    padding:0;
}
.layout .header {
    width:100%;
    height: auto;
    max-height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    text-align: left;
}
.header_area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: calc(100% - 60px);
    margin: 0 auto;
}
.logo_title .logo_size {
    width: 60px;
}
.layout .header .site_title{
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 20px;
}

.layout .header .link{
    display: inline-block;
    line-height: 60px;
}

.footer {
    position: relative;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    color: #cccccc;
    text-align: center;
}
.footer > .text {
    text-align: center;
}