{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<main class="{{ app_name }} lyric_trans" >
    <section class="contents">
        <p class="message">条件を入れた送信メッセージを校正するアプリです。 会社名と名前はChatGPTに送信されません。</p>
        <div class="contents_area">
            <article class="sentence">
                <h3>REQUEST</h3>
                <form method="POST">
                    {% csrf_token %}
                    <p>{{ form.model.label_tag }} {{ form.model }}</p>
                    <p>{{ form.company.label_tag }} {{ form.company }}</p>
                    <p>{{ form.name.label_tag }} {{ form.name }}</p>
                    <p>{{ form.purpose.label_tag }} {{ form.purpose }}</p>
                    <p>{{ form.relation.label_tag }} {{ form.relation }}</p>
                    <p>{{ form.greeting.label_tag }} {{ form.greeting }}</p>
                    <p>{{ form.number.label_tag }} {{ form.number }}</p>
                    <p>{{ form.message.label_tag }} {{ form.message }}</p>
                    <button type="submit">校正</button>
                </form>
            </article>
            <article class="result">
                <h3>RESPONSE</h3>
                <p class="result_box_text copy-target">
                    {{ chat_results|safe }}
                </p>
                <div class="button_area">
                    <button id="copyButton">COPY</button>
                </div>
            </article>
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static 'js/click_copy.js' %}" rel="stylesheet"></script>

{% endblock %}
