{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<main class="{{ app_name }} lyric_trans" >
    <section class="contents">
        <p class="message">Image Generation APP</p>
        <div class="contents_area">
            <article class="sentence">
                <h3>Prompt</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">create</button>
                </form>
            </article>
            <article class="result">
                {% if img_results %}
                    <figure class="image_frame">
                        <img src="{{ img_results }}" class = "image_size" />
                    </figure>
                {% else %}
                    <p>Image</p>
                {% endif %}
            </article>
        </div>
    </section>
</main>
{% endblock %}
