{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<main class="{{ app_name }} lyric_trans" >
    <section class="contents">
        <p class="message">入力した文章をSNS用に適切で丁寧な表現に書き換えてくれます</p>
        <div class="contents_area">
            <article class="sentence">
                <h3>POST</h3>
                <form method="POST">
                    {% csrf_token %}
                    <label for="model">モデルを選択:</label>
                    <select name="model" id="model">
                        <option value="gpt-3.5-turbo" selected>gpt-3.5-turbo</option>
                        <option value="gpt-4">gpt-4</option>
                        <option value="gpt-4o">gpt-4o</option>
                        <option value="gpt-4o-mini">gpt-4o-mini</option>
                        <option value="gpt-4.1">gpt-4.1</option>
                        <option value="gpt-4.1-mini">gpt-4.1-mini</option>
                        <option value="o1">o1</option>
                        <option value="gpt-5">gpt-5</option>
                    </select>
                    <br /><br />
                    {{ form.as_p }}
                    <br /><br />
                    <button type="submit">SNS用に校正</button>
                </form>
            </article>
            <article class="result">
                <h3>After Calibration</h3>
                <p class="result_box_text copy-target">{{ chat_results|safe }}</p>
                <div class="button_area">
                    <button id="copyButton">COPY</button>
                    <p class="sns_btn">
                        <a href="https://twitter.com/" target="_blank" class="full"><img src="{% static 'img/x-logo-black.png' %}" class="x_logo"/></a>
                    </p>
                </div>
            </article>
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static 'js/click_copy.js' %}" rel="stylesheet"></script>

{% endblock %}
